<template>
  <c-modal header="Are you sure you want to delete this SharePoint?">
    <template if:true={sharePoint}>
      <div>{sharePoint.Name}</div>
    </template>
    <div slot="footer">
      <lightning-button
        class="slds-var-m-right_small"
        label="Cancel"
        variant="neutral"
        onclick={handleCancelClick}
      ></lightning-button>

      <lightning-button
        label="Delete SharePoint"
        type="submit"
        variant="destructive"
        onclick={handleDeleteClick}
      ></lightning-button>
    </div>
  </c-modal>
</template>
