<template>
  <c-modal header="Create Folder">
    <div>
      <lightning-input
        type="text"
        label="Folder Name"
        class="validate"
        onchange={handleFolderNameChange}
        pattern='^[^"*:&lt;>?/\\|]+$'
        message-when-pattern-mismatch="Enter a name that doesn't has this characters: &quot; * : &lt; > ? / \ | ."
        required
      ></lightning-input>
    </div>
    <div slot="footer">
      <lightning-button
        class="slds-var-m-right_small"
        label="Cancel"
        variant="neutral"
        onclick={handleCancelClick}
      ></lightning-button>

      <lightning-button
        label="Create Folder"
        type="submit"
        variant="brand"
        onclick={handleCreateFolderClick}
      ></lightning-button>
    </div>
  </c-modal>
</template>
