<template>
  <c-modal header="SharePoint information">
    <template if:true={sharePoint}>
      <div class="information-modal">
        <h2>General Information</h2>
        <p><b>Id:</b> {sharePoint.id}</p>
        <p><b>Name:</b> {sharePoint.Name}</p>
        <p><b>Created On:</b> {sharePoint.CreatedDate}</p>
        <p><b>Last Modified On:</b> {sharePoint.LastModifiedDate}</p>

        <h2>Custom Information</h2>
        <p><b>Id of the SharePoint:</b> {sharePoint.SharePoint_Site_Id__c}</p>
        <p><b>Name of the SharePoint:</b> {sharePoint.Site_Name__c}</p>
        <p><b>Hostname:</b> {sharePoint.Host_Name__c}</p>
        <p><b>Active:</b> {sharePoint.Active__c}</p>
        <p><b>Location Of The File Storage:</b> {sharePoint.Base_Url__c}</p>
        <p>
          <b>Link to SharePoint:</b>
          <a href={sharePoint.Link__c}>{sharePoint.Link__c}</a>
        </p>

        <h2>Extra Information</h2>
        <p><b>Creation By:</b> {sharePoint.CreatedById}</p>
        <p><b>Last Modified By:</b> {sharePoint.LastModifiedById}</p>
        <p><b>Setup Owner:</b> {sharePoint.SetupOwnerId}</p>
      </div>
    </template>
    <div slot="footer">
      <lightning-button
        class="slds-var-m-right_small"
        label="Close"
        variant="neutral"
        onclick={handleCloseClick}
      ></lightning-button>
    </div>
  </c-modal>
</template>
