<template>
  <template if:true={fieldsInfo}>
    <c-modal header="Add a new SharePoint">
      <div>
        <lightning-input
          class="validate"
          type="text"
          label="Name"
          value={name}
          onchange={handleName}
          field-level-help="Enter a name with max 38 characters."
          required
        ></lightning-input>
        <lightning-input
          class="validate"
          type="text"
          label="Hostname"
          value={hostname}
          onchange={handleHostname}
          field-level-help={fieldsInfo.Host_Name__c.inlineHelpText}
          required
        ></lightning-input>
        <lightning-input
          class="validate"
          type="text"
          label="Sitename"
          value={sitename}
          onchange={handleSitename}
          field-level-help={fieldsInfo.Site_Name__c.inlineHelpText}
          required
        ></lightning-input>
        <lightning-input
          class="validate"
          type="text"
          label="Base Url"
          value={baseUrl}
          onchange={handleBaseUrl}
          field-level-help={fieldsInfo.Base_Url__c.inlineHelpText}
        ></lightning-input>
      </div>
      <div slot="footer">
        <lightning-button
          class="slds-var-m-right_small"
          label="Cancel"
          variant="neutral"
          onclick={handleCancelClick}
        ></lightning-button>

        <lightning-button
          label="Add"
          type="submit"
          variant="brand"
          onclick={handleAddClick}
        ></lightning-button>
      </div>
    </c-modal>
  </template>
</template>
