<template>
  <c-modal header={getText}>
    <ul class="slds-list_dotted">
      <template for:each={files} for:item="file">
        <li key={file.id}>{file.name}</li>
      </template>
    </ul>

    <div slot="footer">
      <lightning-button
        class="slds-var-m-right_small"
        label="Cancel"
        variant="neutral"
        onclick={handleCancelClick}
      ></lightning-button>

      <lightning-button
        label="Delete file(s)"
        type="submit"
        variant="destructive"
        onclick={handleDeleteClick}
      ></lightning-button>
    </div>
  </c-modal>
</template>
