<template>
  <template if:true={initialValuesLoaded}>
    <c-add-share-point-modal onadd={handleAddSharePoint}>
    </c-add-share-point-modal>
    <c-delete-share-point-modal ondelete={handleDeleteSharePoint}>
    </c-delete-share-point-modal>
    <c-information-share-point-modal></c-information-share-point-modal>
    <lightning-card title="SharePoint Settings" icon-name="standard:settings">
      <lightning-button-group slot="actions">
        <lightning-button
          label="Add new SharePoint"
          onclick={handleOpenAddSharePointModal}
        ></lightning-button>
      </lightning-button-group>
      <div class="slds-p-horizontal_small">
        <lightning-datatable
          key-field="id"
          data={rows}
          columns={columns}
          onrowaction={handleRowAction}
          onsave={handleSave}
          draft-values={draftValues}
        >
        </lightning-datatable>
      </div>
    </lightning-card>
  </template>
</template>
