<template>
  <template if:true={isInitialValuesLoaded}>
    <c-delete-share-point-file-modal
      ondelete={handleDeleteFiles}
    ></c-delete-share-point-file-modal>
    <c-create-folder-modal
      onsubmit={handleCreateFolderModalSubmit}
    ></c-create-folder-modal>
    <lightning-card title={title} icon-name="standard:file">
      <div style="padding: 0 1rem 0">
        <c-share-point-information
          current-share-point={currentSharePoint}
        ></c-share-point-information>
        <lightning-breadcrumbs>
          <template for:each={getPathItems} for:item="pathItem">
            <lightning-breadcrumb
              key={pathItem.id}
              label={pathItem.label}
              href={pathItem.href}
              style="margin-bottom: 0.3rem"
            >
            </lightning-breadcrumb>
          </template>
        </lightning-breadcrumbs>
      </div>
      <lightning-button-group slot="actions">
        <template if:true={hasEditPermission}>
          <lightning-button
            label="Upload Files"
            onclick={handleUploadBtn}
            icon-name="utility:upload"
          ></lightning-button>
          <lightning-button
            label="Create Folder"
            onclick={handleOpenCreateFolderModal}
            icon-name="utility:add"
          ></lightning-button>
        </template>
        <lightning-button
          label="Open Folder Location"
          onclick={handleOpenFolderLocation}
          icon-name="utility:open_folder"
        ></lightning-button>
        <lightning-button-menu
          alternative-text="Show Menu"
          variant="border-filled"
          class="custom-menu-item"
        >
          <lightning-menu-item
            label="Download Selected File(s)"
            value="downloadSelectedFiles"
            prefix-icon-name="utility:download"
            onclick={handleDownloadSelectedFiles}
            disabled={isSelectedRowsEmpty}
          ></lightning-menu-item>
          <template if:true={hasEditPermission}>
            <lightning-menu-item
              label="Delete Selected File(s)"
              value="deleteSelectedFiles"
              prefix-icon-name="utility:delete"
              onclick={handleOpenDeleteFilesModal}
              disabled={isSelectedRowsEmpty}
            ></lightning-menu-item>
          </template>
        </lightning-button-menu>
      </lightning-button-group>
      <template if:true={isDriveItemsLoaded}>
        <lightning-datatable
          key-field="id"
          data={rows}
          columns={columns}
          onrowaction={handleRowAction}
          onrowselection={handleSelect}
          class="custom-menu-item custom-data-table"
          ondrop={handleDrop}
          ondragover={handleDragOver}
          ondragleave={handleDragLeave}
          load-more-offset="20"
          onresize={handleResize}
        >
        </lightning-datatable>
      </template>
      <template if:true={loading}>
        <lightning-spinner
          alternative-text="Loading"
          size="medium"
        ></lightning-spinner>
      </template>
      <template if:false={loading}>
        <template if:true={isEmpty} class="drag-and-drop">
          <lightning-input
            type="file"
            accept={ACCEPTED_FILES}
            label="Upload Files"
            onchange={handleFileUpload}
            multiple
            class="dropArea"
          ></lightning-input>
        </template>
      </template>
      <!-- <p slot="footer"></p> -->
    </lightning-card>
  </template>
</template>
