.custom-menu-item .slds-dropdown__item svg{
  fill: var(--slds-c-button-text-color, var(--sds-c-button-text-color, var(--lwc-brandAccessible,rgb(1, 118, 211))));
}

.custom-menu-item .slds-dropdown__item>a {
  color: var(--slds-c-button-text-color, var(--sds-c-button-text-color, var(--lwc-brandAccessible,rgb(1, 118, 211))))
}

.custom-menu-item .slds-table tbody tr.slds-is-selected a, .slds-table:not(.slds-no-row-hover) tr.slds-is-selected:hover a {
  color: var(--slds-c-button-text-color, var(--sds-c-button-text-color, var(--lwc-brandAccessible,rgb(1, 118, 211))))
}

.custom-menu-item .slds-table tbody tr.slds-is-selected a, tr.slds-is-selected a {
  color: var(--slds-c-button-text-color, var(--sds-c-button-text-color, var(--lwc-brandAccessible,rgb(1, 118, 211))))
}

.custom-menu-item .slds-table tbody tr a, tr a {
  color: var(--slds-c-button-text-color, var(--sds-c-button-text-color, var(--lwc-brandAccessible,rgb(1, 118, 211))))
}

