.drag-and-drop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropArea{
  width:100% !important;
}


.dropArea .slds-file-selector{
  width:100% !important;
}

.dropArea .slds-file-selector__dropzone{
  width:100% !important;
}

.dropArea .slds-file-selector__dropzone slot{
  display: inline-block;
  width:100% !important;
  padding-top:2%;
  padding-bottom:2%
}

.dropArea .slds-file-selector__dropzone slot .slds-file-selector__body{
  margin-left: 41% !important;
}

.dropArea .slds-form-element__label {
    display: none;
}

.dropArea .slds-file-selector__button {
  cursor: pointer;
}